{#
/**
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */
#}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ constant('APP_LANG') | slice(0, 2) }}" xml:lang="{{ constant('APP_LANG') | slice(0, 2) }}" >
    <head>
        {% block meta %}
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <meta name="generator" content="BiblioApp" />
        {% endblock %}
        {% block icons %}
            <link rel="icon" type="image/x-icon" href="{{ asset('Assets/Images/favicon.png') }}" />
            <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('Assets/Images/apple-icon-180x180.png') }}" />
            {# TODO: add apple icons for ipad and iphone #}
        {% endblock %}
        {% block css %}
            <link rel="stylesheet" type="text/css" href="/Assets/CSS/style.css">
            <link rel="stylesheet" type="text/css" href="/Assets/Icons/fontawesome/css/all.min.css">
            <link rel="stylesheet" type="text/css" href="/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
        {% endblock %}
    </head>
    {% block fullBody %}
        <body>
            <div class="page-wraper">
                <!-- Preloader -->
                {% block preloader %}
                {% endblock %}

                <!-- Header: Top and Navigation -->
                <header class="site-header mo-left header style-1">
                    {% block header %}
                        <!-- Main Header -->
                        <div class="header-info-bar">
                            <div class="container clearfix">
                                <!-- Website Logo -->
                                <div class="logo-header logo-dark">
                                    <a href="/index.php"><img src="/Assets/Images/logo-horizontal.png" alt="logo"></a>
                                </div>

                                <!-- navigation: right -->
                                <div class="extra-nav">
                                    <div class="extra-cell">
                                        <a class="btn btn-primary w-100 btnhover btn-sm" href="shop-login.html">Identificar</a>
                                    </div>
                                </div>

                                <!-- navigation: search -->
                                <div class="header-search-nav">
                                    <div class="header-item-search">
                                        <div class="input-group search-input">
                                            <select class="default-select">
                                                <option>Categorías</option>
                                                <option>Photography </option>
                                                <option>Arts</option>
                                                <option>Adventure</option>
                                            </select>
                                            <input type="text" class="form-control" aria-label="Búsqueda de libros por categoría" placeholder="Introduce el título del libro">
                                            <button class="btn" type="button"><i class="flaticon-loupe"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Top Header -->

                        <!-- Menu Header -->
                        <div class="sticky-header main-bar-wraper navbar-expand-lg">
                            <div class="main-bar clearfix">
                                <div class="container clearfix">
                                    <!-- Website Logo -->
                                    <div class="logo-header logo-dark">
                                        <a href="index.html"><img src="Assets/Images/logo-horizontal.png" alt="logo"></a>
                                    </div>

                                    <!-- Nav Toggle Button -->
                                    <button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </button>

                                    <!-- Main Nav -->
                                    <div class="header-nav navbar-collapse collapse justify-content-start" id="navbarNavDropdown">
                                        <div class="search-input mt-3">
                                            <div class="input-group">
                                                <input type="text" class="form-control" aria-label="Búsqueda de libros por categoría" placeholder="Introduce el título del libro">
                                                <button class="btn" type="button"><i class="flaticon-loupe"></i></button>
                                            </div>
                                        </div>
                                        <ul class="nav navbar-nav">
                                            <li><a href="index.php"><span>Inicio</span></a></li>
                                            <li><a href="About"><span>Sobre Nosotros</span></a></li>
                                            <li><a href="index.php"><span>Mi perfil</span></a></li>
                                            <li><a href="Contact"><span>Contactar</span></a></li>
                                        </ul>
                                        <!-- Poner aqui los botones de login y registro -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Main Header End -->
                    {% endblock %}
                </header>

                <!-- Main page -->
                <div class="page-content bg-white">
                    {% block body %}
                    {% endblock %}
                </div>
                <button class="scroltop" type="button"><i class="fas fa-arrow-up"></i> Top</button>

                <!-- Footer -->
                <footer class="site-footer style-1">
                    {% block footer %}
                    {% endblock %}
                    <!-- Footer Logo and Widgets -->
                    <div class="footer-top">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-12 wow fadeInUp" data-wow-delay="0.1s">
                                    <div class="widget widget_about">
                                        <div class="footer-logo logo-white">
                                            <a href="index.html"><img src="Assets/Images/logo-horizontal.png" alt=""></a>
                                        </div>
                                        <p class="text">
                                            BiblioApp is a Book Store Ecommerce Website Template by DexignZone lorem ipsum dolor sit
                                        </p>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-6 wow fadeInUp wow fadeInUp" data-wow-delay="0.2s">
                                    <div class="widget widget_services">
                                        <h5 class="footer-title">Te Interesa</h5>
                                        <ul>
                                            <li><a href="About">Sobre Nosotros</a></li>
                                            <li><a href="Contact">Contactar</a></li>
                                            <li><a href="faq.html">FAQ</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-6 wow fadeInUp" data-wow-delay="0.3s">
                                    <div class="widget widget_services">
                                        <h5 class="footer-title">Legales</h5>
                                        <ul>
                                            <li><a href="index.html">Condiciones de Uso</a></li>
                                            <li><a href="services.html">Política de Privacidad</a></li>
                                            <li><a href="books-detail.html">Política de Cookies</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Footer Rights -->
                    <div class="footer-bottom">
                        <div class="container">
                            <div class="row fb-inner">
                                <div class="col-lg-6 col-md-12 text-start">
                                    <p class="copyright-text">BiblioApp Website - © 2023 All Rights Reserved</p>
                                </div>
                                <div class="col-lg-6 col-md-12 text-end">
                                    <p>Creado por <a href="https://erpdeveloper.es">ERP Developer</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>

                <!-- JS scripts -->
                {% block javascripts %}
                    <script src="/Assets/JS/jquery.min.js"></script>
                    <script src="/Assets/JS/dz.carousel.js"></script>
                    <script src="/Assets/JS/dz.ajax.js"></script>
                    <script src="/Assets/JS/custom.js"></script>
                    <script src="/vendor/wow/wow.min.js"></script>
                    <script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                    <script src="/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
                    <script src="/vendor/counter/waypoints-min.js"></script>
                    <script src="/vendor/counter/counterup.min.js"></script>
                    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
                {% endblock %}
            </div>
        </body>
    {% endblock %}
</html>